@babloo.kumawat:registry=https://apps.trigyn.com/api/v4/projects/babloo.kumawat%2Fcertificate-plugin/packages/npm/
//apps.trigyn.com/api/v4/projects/babloo.kumawat%2Fcertificate-plugin/packages/npm/:_authToken=${GITLAB_NPM_TOKEN}
